<div class="box">
  <div class="row-fluid">
    <div class="span8"><h2>文章</h2></div>
    <div class="span4"><%= link_to '新建文章', new_article_path, class: "btn btn-primary pull-right" %>
    </div>
  </div>

  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>标题</th>
      <th>所属类别</th>
      <th>文章状态</th>
      <th>#</th>
    </tr>
  
    <%= render @articles %>
  
    <%= will_paginate @articles %>
  
  </table>
</div>
